<header>
	<%= link_to root_path do %>
	<div id = "logo">
		WhiteStack
	</div>
	<% end %>
	<div id = "header_nav">
		<div id = "user_cart">
			<% if session[:cart_id] %>
		
				<%= render 'layouts/icon' %>
		
			<% end %>
		</div>
		<% if current_user %>
		<div id = "list_with_image">
			<div id = "user_header_image">
				<%= image_tag current_user.picture.url(:thumb) if current_user.picture? %>
			</div>
			<ul>
				<li id = "login"><%= link_to current_user.name, user_path(current_user) %></li>
				<li><%= link_to 'Log Out', logout_path, method: :delete %></li>				
			</ul>
		</div>
		<% else %>
		<div id = "list">
			<ul>
				<li id = "login"><%= link_to 'LogIn', login_path %></li>
				<li><%= link_to 'Register', signup_path %></li>
			</ul>
		</div>
		<% end %>
	</div>
</header>